<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<header th:fragment="content" class="navbar navbar-light" style="background-color: #030b10;">
  <h3 class="masthead-brand text-light" style="margin-left: 50px;">Книжный склад</h3>
  <nav class="nav nav-masthead justify-content-center" style="margin-right: 50px;">
    <a class="nav-link text-light" href="/books">Книги</a>
    <a class="nav-link text-light" href="/authors">Авторы</a>
    <a class="nav-link text-light" href="/publishers">Издательства</a>
    <form action="/logout" method="post">
      <input style="background-color: #030b10; border: none" class="nav-link text-light" type="submit" value="Выйти"/>
    </form>
  </nav>

</header>

</body>
</html>